.header__project-info {
    width: 100%;
    font-size: 19px;
    font-weight: 600;
    background-color: rgb(187, 184, 178);
    display: grid;
    grid-template-columns: repeat(5, 20%);
    justify-content: center;
}

.header__project-info>p {
    margin: 0 0;
}

.data__project-info {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(5, 20%);
}

.data__important-notes {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 33%);
    column-gap: 10px;
}

.data__detailed-report {
    width: 100%;
    display: grid;
    grid-template-columns: 20% repeat(7, 11.5%);
}